@use "partials/variables";
@import "~bootstrap/scss/bootstrap";

.nav-link {
    &.active {
        color: crimson;
    }
}

.vh-100 {
    height: 100vh;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden;
}
